body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #f38e30fb;
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 24px;
}
.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.producto, .producto2, .producto3 {
    flex: 1; /* Allows items to grow equally */
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.producto:hover, .producto2:hover, .producto3:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
    transform: scale(1.05); /* Slightly increase size on hover */
}
footer {
    text-align: center;
    padding: 10px;
    background: #8B5A2B;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;

}
.login {
    text-align: right;
}